<!doctype html>
<html lang="en">
	<head>
		<title>KataKlimb</title>
		<link rel="stylesheet" href="ex1.css">
	</head>
	<body>


	<header>
		<h1> KataKlimb - page to connect people who want to climb in Barcelona and around it  </h1>
		<nav>
			<ul>
				<li> About</li>
				<li>Contact</li>
				<li>Login</li>
			</ul>
		</nav>
	</header>

	<section class="middle">
		<h2> Climb with other people in Barcelona </h2>
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque provident, eum ipsam similique laboriosam totam harum beatae. Nesciunt, qui, soluta eligendi sint odit a saepe. Dolorum pariatur labore excepturi veniam. </p>
		<button> Get started! Register </button>

	</section>

	<footer>
			<article>
				<h1> Safari bug warning! </h1>
				<p>
				Most often,though, the extensions are used to release and test browser features that have been developed in the preparation ofW3C drafts that have not yet reached Candidate Recommendation status
				</p>
				<button>View details >> </button>
			</article>
			<article>
				<h1> Heading </h1>
				<p>
				Most often,though, the extensions are used to release and test browser features that have been developed in the preparation ofW3C drafts that have not yet reached Candidate Recommendation status
				</p>
				<button>View details >> </button>
			</article>
			<article>
				<h1> Heading </h1>
				<p>
					Most often,though, the extensions are used to release and test browser features that have been developed in the preparation ofW3C drafts that have not yet reached Candidate Recommendation status
				</p>
				<button>View details >> </button>
			</article>
	</footer>


	</body>
</html>